html, body, .swiper-container, .swiper-wrapper, .swiper-slide {
    width: 100%;
    height: 100%;
}

/*music*/
.music {
    display: none;
    z-index: 99;
    position: absolute;
    top: .2rem;
    right: .2rem;
    width: .6rem;
    height: .51rem;
    background: url("../images/people.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.musicMove {
    -webkit-animation: musicMove 1s steps(12) .2s infinite;
    animation: musicMove 0.5s steps(12) .2s infinite;
}

@keyframes musicMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -7.28rem 0;
    }
}

/*arrow*/
.arrow {
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: .2rem;
    width: .24rem;
    height: .18rem;
    background: url("../images/web-swipe-tip.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-animation: bounce 1s linear .2s infinite;
    animation: bounce 1s linear .2s infinite;
}

.page01, .page03, .page02, .page04 {
    background: url("../images/pag1-3.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.swiper-container img {
    position: absolute;
    opacity: 0;
    z-index: 10;
}

.page01 img:nth-child(1) {
    width: 3rem;
    height: 3rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.page01 img:nth-child(2),
.page01 img:nth-child(3) {
    width: 6rem;
    height: 6rem;
    top: 0.3rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.page01 img:nth-child(4) {
    width: 4.3rem;
    height: 0.8rem;
    opacity: 0;
    top: 4rem;
    left: 1rem;
}

.page01 img:nth-child(5) {
    width: 2.04rem;
    height: 1.27rem;
    top: 1rem;
    left: 1.5rem;
}

.page01 img:nth-child(6) {
    width: 2.18rem;
    height: 1.97rem;
    top: 1rem;
    right: 1.5rem;
}

.page01 img:nth-child(7) {
    width: 2.3rem;
    height: 1.58rem;
    top: 2.14rem;
    left: 1.5rem;
}

.page01 img:nth-child(8) {
    width: 100%;
    height: 3rem;
    bottom: 0;
    z-index: 55;
}

.page01 img:nth-child(9) {
    width: 100%;
    height: 3.5rem;
    bottom: 0;
}

#page01 img:nth-child(5) {

    animation: bounceInUp 3s linear .5s both;
}

#page01 img:nth-child(6) {

    animation: bounceInRight 3s linear .5s both;
}

#page01 img:nth-child(7) {

    animation: bounceInUp 3s linear .5s both;
}

#page01 img:nth-child(1) {
    -webkit-animation: bounceInLeft 1s linear .2s both;
    animation: zoomInB 1.5s linear 3s forwards;
}

#page01 img:nth-child(2) {
    animation-timing-function: ease-in-out;
    animation: cycle 0.5s infinite 3s forwards;
}

#page01 img:nth-child(3) {
    animation-timing-function: ease-in-out;
    animation: cycle 0.5s infinite 3s forwards;
}

#page01 img:nth-child(8) {
    animation: bounceInUp 0.5s linear .5s forwards;
}

#page01 img:nth-child(9) {
    animation: bounceInUp 0.5s linear 1s forwards;
}

@keyframes cycle {
    0% {
        opacity: 1;
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
        opacity: 1;
    }
}

.page01 h1 {
    opacity: 0;
    display: block;
    color: #FFFFFF;
    font-size: .8rem;
    font-weight: 900;
    position: absolute;
    bottom: 1.5rem;
    text-align: center;
    line-height: 1rem;
    width: 100%;
    height: 1rem;
    z-index: 56;
}

#page01 h1:nth-child(10) {
    animation: zoomIn 1.5s linear 2.5s both;
}

#page01 h1:nth-child(11) {

    animation: zoomIn 1.5s linear 3.5s both;
}

#page01 h1:nth-child(12) {

    animation: zoomIn 1.5s linear 4.5s both;
}

#page01 h1:nth-child(13) {
    animation: zoomInB 3s linear 6.5s both;
}



.page02 .info {
    width: 100%;
}

.page02 .info p {
    text-align: center;
    font-size: .3rem;
    margin-top: .2rem;
    font-family: 微软雅黑;
    color: #ff460c;
    font-weight: 300;
    opacity: 0;
}

.page02 .skull {
    margin-top: .2rem;
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;

}
.page02 .skull span{
    opacity: 0;
}
.page02 .skull span:nth-child(1) {
    background-image: url("../images2/2-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 2.5rem;
    height: 2.16rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 2.16rem;
}
.page02 .skull span:nth-child(2) {
    background-image: url("../images2/2-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-align: center;
    line-height: 1.3rem;
}
.page02 .skull span:nth-child(3) {
    background-image: url("../images2/2-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
    line-height: 1.3rem;
}
.page02 .skull span:nth-child(4) {
    background-image: url("../images2/2-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: center;
    line-height: 1.3rem;
}
.page02 .skull span:nth-child(5) {
    background-image: url("../images2/2-5.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 1.6rem;
    height: 1.4rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-align: center;
    line-height: 1.3rem;
}
.page02 .skull span:nth-child(6) {
    position: absolute;
   top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: red;
    font-size: .3rem;
    font-weight: 500;
}
#page02 .info p:nth-child(1){
    animation: bounceInUp .5s linear .5s both;
}
#page02 .info p:nth-child(2){
    animation: bounceInRight 1s linear .5s both;
}
#page02 .info p:nth-child(3){
    animation: bounceInLeft 2s linear .5s both;
}
#page02 .info p:nth-child(4){
    animation: bounceInRight 3s linear .5s both;
}
#page02 .info p:nth-child(5){
    animation: bounceInLeft 4s linear .5s both;
}
#page02 .info p:nth-child(6){
    animation: bounceInRight 5s linear .5s both;
}
#page02 .info p:nth-child(7){
    animation: bounceInLeft 6s linear .5s both;
}
#page02 .skull span:nth-child(6){
    animation: bounceInUp 1s ease both;
    animation-delay: 4s;
}
#page02 .skull span:nth-child(1){
    animation: zoomInB 1s linear  both;
    animation-delay: 5s;
}
#page02 .skull span:nth-child(2){
    animation: zoomInB 1s   both;
    animation-delay: 5.5s;
}
#page02 .skull span:nth-child(3){
    animation: zoomInB 1s   both;
    animation-delay: 6s;
}
#page02 .skull span:nth-child(4){
    animation: zoomInB 1s   both;
    animation-delay: 6.5s;
}
#page02 .skull span:nth-child(5){
    animation: zoomInB 1s   both;
    animation-delay: 7s;
}

#page04 .move {
    animation: Move 1s steps(9) .2s infinite;
    animation-delay: 2s;
}

.page03 img:nth-child(1) {
    width: 4.2rem;
    height: 2.55rem;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.page03 img:nth-child(3) {
    width: 1.14rem;
    height: 0.61rem;
    position: absolute;
    right: 1.14rem;
    left: 0;
    margin: .31rem auto;
}

.page03 img:nth-child(2) {
    width: 1.14rem;
    height: 0.61rem;
    position: absolute;
    right: 0;
    left: 1.14rem;
    margin: .2rem auto;
}

.page03 img:nth-child(4) {
    width: 1.07rem;
    height: 0.11rem;
    position: absolute;
    right: 1.14rem;
    left: 0;
    margin: .2rem auto;
}

.page03 img:nth-child(6) {
    height: 0.1rem;
    position: absolute;
    top: 3rem;
    right: 1rem;
}

.page03 .left {
   margin-top: 3.5rem;
    padding: 0 1rem;
    text-align: right;
opacity: 0;
}
.page03 .left p{
    color: #ff22ac;
    font-size: .3rem;
    margin-top: .1rem;
}
.page03 .right {
   margin: 1rem 1rem 0;
    text-align: left;
    overflow-x:auto;
    opacity: 0;
}
.page03 .right p{
    color: #ff4e0f;
    font-size: .2rem;
    margin-top: .1rem;
    white-space: nowrap;
}

#page03 img:nth-child(1){
    animation: bounceInUp 1s linear .5s both;
}
#page03 img:nth-child(2){
    animation: bounceInRight 2s linear .5s both;
}
#page03 img:nth-child(3){
    animation: bounceInLeft 3s linear .5s both;
}
#page03 img:nth-child(4){
    animation: bounceInLeft 3s linear .5s both;
}
#page03 .left{
    animation: bounceInLeft 4s linear .5s both;
}
#page03 img:nth-child(6){
    animation: bounceInLeft 3.5s linear .5s both;
}
#page03 img:nth-child(8){
    animation: bounceInLeft 5s linear .5s both;
}
#page03 .right{
    animation: bounceInLeft 5.5s linear .5s both;
}

.page03 img:nth-child(8) {
    height: 0.1rem;
    position: absolute;
    top: 7rem;
    left: 1rem;
}
.page04 .info{
    text-align: left;
   margin: 1rem 1rem 0;
    overflow-x: auto;
    opacity: 0;
}
.page04 .info p{
    font-size: .2rem;
    margin-top: .1rem;
    white-space: nowrap;
    color: #ff4e0f;
}
.page04 .move {
    background: url("../images/move.png") no-repeat;
    background-size: cover;
    width: 5.26rem;
    height: 2.4rem;
    position: absolute;
    bottom: 2.2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
}
.page04 h1{
    position: absolute;
    bottom: 1.2rem;
    left: 0;
    right: 0;
    text-align: center;
    color: #ff0d62;
    opacity: 0;
}
#page04 .info{
    animation: bounceInUp 1s linear .5s both;
}
#page04 h1{
    animation: bounceInUp 3s linear .5s both;
}

@keyframes Move {
    0% {
        opacity: 1;
        background-position: 0 0;
    }
    100% {
        opacity: 1;
        background-position: 0 -21.6rem;
    }
}

@keyframes slank {
    0% {
        opacity: 1;
        background-position: 0 0;
    }

    100% {
        opacity: 1;
        background-position: 0 -7.98rem;
    }
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomInB {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes zoomInB {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


@-webkit-keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -30px, 0);
        -ms-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -15px, 0);
        -ms-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        -ms-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}